/*
  ========================================================
  General
  ========================================================
*/

* {
  font-family: "Roboto Mono", monospace;
}

.hide {
  display: none;
}

.highlight {
  font-weight: bold;
  color: #2196f3;
  font-size: 125%;
}

/*
  ========================================================
  Starting Layout For DOM Elements
  ========================================================
*/

#app {
  height: 100vh;
  overflow: hidden;
  width: auto;
  position: relative;
  justify-content: center;
  align-items: center;
}

#particles-js {
  background-color: black;
  width: 100vw;
  height: 700vh;
  position: absolute;
}

#skills {
  position: absolute;
  z-index: 1;
  left: 200vw;
  top: 0;
  padding-top: 75px;
  min-width: 100%;
  min-height: 100vh;
  /* display: none; */
}

#portfolio {
  position: relative;
  z-index: 1;
  top: -500vh;
  /* display: none; */
}

#hello {
  height: 30vh;
  align-items: center;
}

#about {
  position: absolute;
  z-index: 1;
  min-height: 100vh;
  min-width: 100vw;
  top: 500vh;
  overflow-y: scroll;
  height: 100%;
}

/*
  ========================================================
  Welcome / Home
  ========================================================
*/

#hello-txt {
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 8px;
  font-weight: bold;
  padding-top: 5vh;
  opacity: 0;
}

#hello-container {
  position: absolute;
}

#welcome-container {
  position: absolute;
  color: white;
  z-index: 1;
  text-align: center;
  margin-top: 10vh;
  margin-right: 0;
  width: 100vw;
  min-width: 100%;
}

#welcome-div {
  transition: 0.2s;
}

#welcome-name {
  text-transform: uppercase;
}

#welcome-name:hover {
  text-shadow: 0 0 10px #2196f3, 0 0 20px #2196f3, 0 0 30px #2196f3;
  transition-delay: 0.25s;
}

#welcome-btn-row {
  height: 20vh;
  align-items: flex-end;
}

#social-row {
  height: 30vh;
  align-content: flex-end;
}

.social {
  display: inline-block;
  padding: 15px 30px;
  color: #2196f3;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 250%;
  overflow: hidden;
  transition: 0.2s;
}

.social:hover {
  color: #2196f3;
  text-shadow: 0 0 10px #2196f3, 0 0 20px #2196f3, 0 0 30px #2196f3;
  cursor: pointer;
  transition-delay: 0.25s;
}

/*
  ========================================================
  Portfolio
  ========================================================
*/

#portfolio-header {
  font-weight: bold;
  color: #2196f3;
  font-size: 40px;
  letter-spacing: 8px;
}

.portfolio-img-row {
  justify-content: center;
  height: 75%;
}

.portfolio-img {
  width: 90%;
  max-width: 100%;
  padding: 10px 12px 10px 12px;
}

.portfolio-footer {
  width: 100%;
  margin-bottom: 20px !important;
}

.portfolio-link {
  background-color: #212529 !important;
  color: #fff !important;
}

.portfolio-link:first-child {
  margin-right: 15px !important;
}

.portfolio-link:hover {
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3 !important;
  transition-delay: 0.25s !important;
}

.portfolio-btn.single-skill {
  width: 90%;
}

#portfolio-container {
  padding-top: 40px;
}

.portfolio-btn-container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-btn {
  display: inline-block;
  padding: 15px 30px;
  color: #2196f3;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 20px;
  overflow: hidden;
  transition: 0.2s;
  background: transparent;
  border: none;
}

.portfolio-btn:hover {
  color: #255784;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  cursor: pointer;
  transition-delay: 0.25s;
}

#portfolio-header-row {
  padding-top: 50px;
}

.portfolio-row {
  padding-top: 10vh;
  padding-bottom: 10vh;
  justify-content: center;
  align-items: center;
}

.portfolio-card {
  width: 40vw;
  border: 2px solid #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  color: white;
  transition: 0.3s;
}

.portfolio-card:hover {
  transform: scale(1.15);
  cursor: pointer;
}

.card-img {
  height: 300px;
}

.carousel-img {
  max-width: 100%;
  max-height: 70vh;
}

.carousel-description {
  padding-top: 30px;
}

.portfolio-modal .modal-content {
  background-color: #404040;
  color: white;
}

.portfolio-btn.single-skill:hover {
  cursor: default;
}

.built-with {
  margin-top: 20px !important;
}

/*
  ========================================================
  Skills
  ========================================================
*/

#skills-container {
  color: #2196f3;
  min-width: 100%;
}

#skills-header-row {
  min-height: 15vh;
  align-content: center;
}

.skill-icon {
  height: 20vh;
  transition: background-color 1s;
  padding: 0 15px;
}

.skill-icon.info {
  background-color: #2558844b;
}

.skill-icon-top {
  height: 66.66%;
  align-items: flex-end;
}

.skill-icon-bottom {
  height: auto;
  height: 33.33%;
}

.skill {
  font-size: 400%;
}

.skill-text {
  font-size: 130%;
}

.skill-row {
  transition: opacity 500ms;
}

.skills-break {
  border-bottom: 2px solid;
}

.skill-column {
  margin-bottom: 40px;
}

/*
  ========================================================
  About
  ========================================================
*/

#about-header {
  font-weight: bold;
  color: #2196f3;
  font-size: 40px;
  letter-spacing: 8px;
  padding-top: 5vh;
}

#about-img {
  border-radius: 20%;
  height: auto;
  width: 75%;
  object-fit: cover;
}

#about-img-row {
  padding-top: 5vh;
  padding-left: 5vw;
  padding-right: 5vw;
}

#about-img-col {
  padding-top: 10vw;
}

#about-text {
  color: white;
  padding: 10vw 0;
}

#about-btn-row {
  padding-top: 40px;
}
